<app-navbar></app-navbar>
<div class="header">
    <div class="headerBox" id="text">
        <img class="logo  animate__animated animate__fadeInLeft" src="assets/img/logo.png" alt="Logo de la pagina">
        <div class="text  animate__animated animate__fadeInLeft">
            <h2 class="name">Meraki</h2>
            <p class="sentence">Panadería y Pastelería</p>
        </div>
    </div>
    <div class="filter"></div>
</div>
<img class="aboutImg  animate__animated animate__fadeInUp" src="assets/img/about3.jpg" alt="Sobre mi">
<mat-card  class = "card-about" id="card"> 
  <mat-card-title> Acerca de</mat-card-title> 
  <mat-card-content> 
    <br> 
    <p> Amar a las personas, querer aportar a su vida y a su felicidad es una de las mejores formas de contribuir en la sociedad.
       Personas felices, tienen vidas felices. El mejor camino que he encontrado para compartir amor y felicidad es a través de la
        Pastelería. Siento que comer postres no es solo comer algo sabroso, es absorber todo el cariño que le coloca el pastelero
         a cada detalle de la presentación. Meraki.dab surgió por el apoyo que me han dado mis familiares y amigos. Gracias a esos
          desconocidos que han sido clientes, que ahora son amigos y muchos hasta familia. Gracias por confiar en mi trabajo para
           que sea parte de sus mesas.</p> 
    <p>Comparte en familia con Meraki. <br>
      Dalia Bolívar, pastelera de Meraki.dab </p>
  </mat-card-content> 
</mat-card>

<div class="products" id="product">
    <p>¡Conoce nuestros deliciosos productos!</p>
    <div class="productList">
      <article>
        <h2>Panadería</h2>
        <div class="element">
          <p class="name">Pan de jamón tradicional</p>
          <p class="price">$</p>
          <p class="description">Delicioso pan de jamón, relleno con jamón, tocineta ahumada, pasitas y aceitunas.</p>
        </div>
        <div class="element">
          <p class="name">Cachitos</p>
          <p class="price">$</p>
          <p class="description">Paquete de 4 unidades de cachitos de jamón y tocineta ahumada. Ideales para tus desayunos.</p>
        </div>
        <br>
        <h2>Pasapalos</h2>
        <div class="element">
          <p class="name">Profiteroles</p>
          <p class="price">$</p>
          <p class="description">rellenos con crema pastelera, chantilly o diplomática (unión de pastelera y chantilly). Cubiertos de ganache de chocolate.
            Caja de 12 unidades de profiterol.</p>
        </div>
        <div class="element">
          <p class="name">Roles de canela</p>
          <p class="price">$</p>
          <p class="description">Caja de 12 unidades de roles de canela con glaseado de queso crema.</p>
        </div>
        <div class="element">
          <p class="name">Donas</p>
          <p class="price">$</p>
          <p class="description">Donas rellenas de chocolate/arequipe y con decoración temática. 
            Caja de 6 unidades.</p>
        </div>
        <div class="element">
          <p class="name">Tequeños</p>
          <p class="price">$</p>
          <p class="description">Tequeños deliciosos rellenos de queso.
            20 unidades por bandeja (Crudos).</p>
        </div>
        <div class="element">
          <p class="name">Pizzas</p>
          <p class="price">$</p>
          <p class="description">Mini pizzas con abundante queso mozzarella, salsa de tomate natural, jamón, tocineta, trozos de tomate y orégano. 
            30 unidades de pizza por caja. 
            </p>
        </div>
        <div class="element">
          <p class="name">Media lunas</p>
          <p class="price">$</p>
          <p class="description">Divinos y suaves pancitos rellenos de lechuga, tomate, jamón y salsa de queso crema y tocineta. 
            25 unidades de media luna por caja.</p>
        </div>
      </article>
      <article>
        <h2>Pastelería</h2>
        <div class="element">
          <p class="name">Baby Cakes</p>
          <p class="price">$</p>
          <p class="description"> 
            Cake de 8cm de diámetro y 7 cm de alto aproximadamente. Relleno y decoración variable. <br>
            Cada baby cake rinde para 1-2 porciones. <br>
            Venta mínima: 2 unidades.</p>
        </div>
        <div class="element">
          <p class="name">Meme Cake</p>
          <p class="price">$</p>
          <p class="description">Tortas de meme de 10 cm y 15 cm. Con rellenos y decoración variada, elige de acuerdo a la ocasión. Tres capas de ponqué de vainilla y dos capas de relleno.</p>
        </div>
        <div class="element">
          <p class="name">Mini cakes</p>
          <p class="price">$</p>
          <p class="description">Cake de 15 cm y 18 cm. <br>
            Opción 1: Ponque con rellenos variados. <br>
            Opción 2: Mousse con base de galleta o ponqué. Sabores: Parchita, limón, chocolate, moka. <br>
            Opción 3: Pie de Limón.</p>
        </div>
        <div class="element">
          <p class="name">Tortas grandes</p>
          <p class="price">$</p>
          <p class="description">Tamaños disponibles: 20 cm, 22cm, 25 cm y 29 cm. <br>
            Propuestas: Tres leches, fresas con crema, chocolate, triple explosión de sabor (Ponque-mousse-frutas).</p>
        </div>
        <img class="chef" src="assets/img/cocinera.png" alt="Logo de la pagina">
      </article>
    </div>
</div>

<div class="gallery" id="worksGallery">
  <img class="works" src="assets/img/galeria-1.jpg" alt="Trabajos" (click) = "modalImage(0)">
  <img class="works" src="assets/img/galeria-2.jpg" alt="Trabajos" (click) = "modalImage(1)">
  <img class="works" src="assets/img/galeria-3.jpg" alt="Trabajos" (click) = "modalImage(2)">
  <img class="works" src="assets/img/galeria-4.jpg" alt="Trabajos" (click) = "modalImage(3)">
  <img class="works" src="assets/img/galeria-5.jpg" alt="Trabajos" (click) = "modalImage(4)">
  <img class="works" src="assets/img/galeria-6.jpg" alt="Trabajos" (click) = "modalImage(5)">
  <img class="works" src="assets/img/galeria-7.jpg" alt="Trabajos" (click) = "modalImage(6)">
  <img class="works" src="assets/img/galeria-8.jpg" alt="Trabajos" (click) = "modalImage(7)">
</div>

<div class="ubication" id="ubicationID">
  <p>Ubicación</p>
  <div class="information">
    <p>Santa Mónica , Distrito Capital</p>
    <div>
      <h2>Horarios</h2>
      <p>Lunes a Viernes <br> 9:00 am - 6:00 pm</p>
    </div>
  </div>
</div>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15693.216655447226!2d-66.90009717340862!3d10.476671080404758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58c881035ed1%3A0xb145ede52f84ab4d!2sSanta%20M%C3%B3nica%2C%20Caracas%201041%2C%20Distrito%20Capital!5e0!3m2!1ses!2sve!4v1645118668405!5m2!1ses!2sve" 
            width=100% height="450" style="border:0; border-radius: 28px; margin-top: 18px;" allowfullscreen="" loading="lazy"></iframe>

<div class="contact">
  <p>¡Contactanos y haz tu pedido!</p>
  <div class="contact_list">
    <div class="element"> 
        <img src="assets/img/icono_email.png" alt="no hay imagen" class="icon_contact">
        <h2 style="font-size: larger; margin-bottom: 0;">e.meraki.dalia@gmail.com</h2>
    </div>
    <div class="element">
        <a href="https://www.instagram.com/meraki.dab/" target="_blank">
          <img src="assets/img/icono_instagram.png" alt="no hay imagen" class="icon_contact">
          <h2 style="font-size: larger; margin-bottom: 0; margin-left: 5px;">meraki.dab</h2>
        </a> 
    </div>
</div>
</div>

